<div ng-controller = "PlayerCountController">
	<form name="entryForm">
		<select ng-model="team" ng-options="team for team in teamList" required>
    		<option value="">Select Team</option>
		</select>
		<button ng-disabled = "entryForm.$invalid" ng-click="loadCounts()">Calculate</button>
	</form>
	<table st-table = "counts" class = "table table-striped">
		<tr>
			<th>Player</th>
			<th>Count</th>
		</tr>
		<tr ng-repeat="entry in counts">
			<td>{{ entry[0] }}</td>
			<td>{{ entry[1] }}</td>
		</tr>
	</table>
</div>