<div ng-controller = "DiffController">
	<form name = "entryForm">
		<select ng-model="teamA" ng-options="team for team in teamList" required>
    		<option value="">Select Team A</option>
		</select>
		<select ng-model="teamB" ng-options="team for team in teamList" required>
    		<option value="">Select Team B</option>
		</select>
		<label> Include FPL bench? : </label>
		<label>
    		<input type="radio" ng-model="fplBench" value="yes"/>Yes
  		</label>
  		<label>
    		<input type="radio" ng-model="fplBench" value="no"/>No
  		</label>
  		<label> Include FPL captain twice? : </label>
		<label>
    		<input type="radio" ng-model="fplCaptain" value="yes"/>Yes
  		</label>
  		<label>
    		<input type="radio" ng-model="fplCaptain" value="no"/>No
  		</label>
  		<label> Exclude players already played? : </label>
		<label>
    		<input type="radio" ng-model="excludeHasPlayed" value="yes"/>Yes
  		</label>
  		<label>
    		<input type="radio" ng-model="excludeHasPlayed" value="no"/>No
  		</label>
  		<label> Consider FFC bench? : </label>
		<label>
    		<input type="radio" ng-model="ffcBench" value="yes"/>Yes
  		</label>
  		<label>
    		<input type="radio" ng-model="ffcBench" value="no"/>No
  		</label>
  		<button ng-disabled = "entryForm.$invalid" ng-click="loadPlayers()">Enter</button>
  	</form>
  	<form ng-show = "displaySub" name = "subForm">
		<select ng-model="benchA" ng-options="idx*1 as player for (idx, player) in homeTeam">
    		<option value="">Select Home Bench</option>
		</select>
		<select ng-model="benchB" ng-options="idx*1 as player for (idx, player) in awayTeam">
    		<option value="">Select Away Bench</option>
		</select>
		<button ng-click="loadDiff()">Populate Differentials</button>
	</form>
	<table st-table = "diff" class = "table table-striped">
		<tr>
			<th>Player</th>
			<th>Count</th>
		</tr>		
		<tr ng-repeat="entry in diff">
			<td>{{ entry[0] }}</td>
			<td>{{ entry[1] }}</td>
		</tr>
	</table>
</div>