<div ng-controller = "DiffController">
	<form name = "entryForm">
		<select ng-model="teamA" ng-options="team for team in teamList" required>
    		<option value="">Select Team A</option>
		</select>
		<select ng-model="teamB" ng-options="team for team in teamList" required>
    		<option value="">Select Team B</option>
		</select>
		<label> Include bench? : </label>
		<label>
    		<input type="radio" ng-model="bench" value="yes">
   			Yes
  		</label><br/>
  		<label>
    	<input type="radio" ng-model="bench" value="no">
    		No
  		</label><br/>
		<button ng-disabled = "entryForm.$invalid" ng-click="loadDiff()">Calculate</button>
	</form>
	<table st-table = "diff" class = "table table-striped">
		<tr>
			<th>Player</th>
			<th>Count</th>
		</tr>		
		<tr ng-repeat="entry in diff">
			<td>{{ entry[0] }}</td>
			<td>{{ entry[1] }}</td>
		</tr>
	</table>
</div>