<div class="header-section">
	<div class="row header-row">
		<div class="span12 masthead">
			<h1>Welcome to FFC Dashboard.</h1>
		</div>
	</div>
</div>
<div class="header-push">
</div>

<div>
	<h2>You can visit following links to check out latest stats<h2>
	<h3><a href="/scorecard">Check out team scorecard for current gameweek</a></h3>
	<h3><a href="/tie">Check out FFC tie details for two teams</a></h3>
	<h3><a href="/player-count">Check out aggregate player count for any FFC team for current gameweek</a></h3>
	<h3><a href="/diff">Check out differentials between two teams for current gameweek</a></h3>
	<h3><a href="/hallofffame">Check out Hall of Fame for any gameweek so far</a></h3>
</div>