<div ng-controller = "ScoreBoardController">
	<label>Enter the team to display FPL scores of FFC players</label>
	<form name = "entryForm">
		<select ng-model="team" ng-options="team for team in teamList" required>
    		<option value="">Select Team</option>
		</select>
		<button ng-disabled = "entryForm.$invalid" ng-click="loadBoard()">Populate</button>
	</form>
	<table ng-show = "displayTable" st-table = "board" class = "table table-striped">
		<tr>
			<th>Player</th>
			<th>Points</th>
			<th>Transfer Cost</th>
			<th>GW Score</th>
			<th>FPL Link</th>
		</tr>
		<tr ng-repeat="card in board">
			<td>{{ card.Player }}</td>
			<td>{{ card.Points }}</td>
			<td> {{ card.TC }}</td>
			<td>{{ card.Score }}</td>
			<td><a ng-href = " {{ card.Link}} ">{{ card.Link }}</a></td>
		</tr>
	</table>
</div>