<div ng-controller = "TieController">
	<form name = "entryForm">
		<select ng-model="teamA" ng-options="team for team in teamList" required>
    		<option value="">Select Home Team</option>
		</select>
		<select ng-model="teamB" ng-options="team for team in teamList" required>
    		<option value="">Select Away Team</option>
		</select>
		<label> Consider Live Scores? : </label>
        <label>
            <input type="radio" ng-model="live" value="yes"/>Yes
        </label>
        <label>
            <input type="radio" ng-model="live" value="no"/>No
        </label>
		<button ng-disabled = "entryForm.$invalid" ng-click="loadPlayers()">Enter</button>
	</form>
	<form ng-show = "displaySub" name = "subForm">
		<select ng-model="benchA" ng-options="idx*1 as player for (idx, player) in homeTeam">
    		<option value="">Select Home Bench</option>
		</select>
		<select ng-model="benchB" ng-options="idx*1 as player for (idx, player) in awayTeam">
    		<option value="">Select Away Bench</option>
		</select>
		<button ng-click="loadBoard()">Populate Scorecards</button>
	</form>
	<div ng-show = "displayTable">
		<h2>{{teamA}} {{homeScore}} - {{awayScore}} {{teamB}}</h2>
	</div>
	<table style="float: left; width = 45%;" ng-show = "displayTable" st-table = "boardA" class = "table table-striped">
		<caption><h3>{{teamA}}</h3></caption>
		<tr>
			<th>Player</th>
			<th>GW Score</th>
		</tr>
		<tr ng-repeat="card in boardA">
			<td>{{ card.Player }}</td>
			<td>{{ card.Points }}</td>
		</tr>
	</table>
	<table style="float: right; width = 45%;" ng-show = "displayTable" st-table = "boardB" class = "table table-striped">
		<caption><h3>{{teamB}}</h3></caption>
		<tr>
			<th>Player</th>
			<th>GW Score</th>
		</tr>
		<tr ng-repeat="card in boardB">
			<td>{{ card.Player }}</td>
			<td>{{ card.Points }}</td>
		</tr>
	</table>
</div>